* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  margin-left: 15px;
}

nav a:hover {
  color: deeppink;
  text-decoration: underline;
}
