/* h1 {
  color: red;
} */

.price {
  color: rgb(38, 154, 38);
}

#app header {
  font-style: italic;
}

/* nav a:first-child {
  color: brown;
} */

.product.featured h2 {
  color: purple;
}

article > p {
  font-style: italic;
}

a[href="/"] {
  color: orange;
}

.top-bar.dark h1 {
  color: burlywood;
}
